{block content}
<div class="section">
    <div class="container">
        <div class="center">
            <div class="row">
                <div class="col-xs-12 col-md-5">
                    <br><br><br>
                    <h3 n:block=title>Přihlásit</h3>
                    {control signInForm}
                </div>
            </div>
        </div>
    </div>
</div>